.quiz {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 15rem 0 0 0;
  background: #fdfdfe;
  color: #2d2442;
}

.wrapper {
  width: 75rem;
}

.title {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #2D2442;
  margin: 0rem 0rem 2rem 0rem;
}