.ActiveQuiz {
  text-align: center;
  padding: 2.5rem 3rem 0rem 3rem;
  color: #2d2442;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &__count {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  &__question {
    margin-bottom: 1rem;
  }
}